@using MvcPersonalProject.UI.Models
@model MvcPersonalProject.Entity.ValueObjects.PasswordChangeViewModel
@{
    ViewBag.Title = "Şifre Değiştirme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="display-4">
            @ViewBag.Title
            <hr />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("PasswordChange", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(false)
            @*@Html.HiddenFor(model => model.Email)*@
            @{
                if (ViewBag.Success != null)
                {
                    <h4 style="color:green" class="fa fa-check-circle"> @ViewBag.Success</h4>
                }
                else if (ViewBag.Fail != null)
                {
                    <h4 style="color:red" class="fa fa-remove"> @ViewBag.Fail</h4>
                }
            }
            <div class="form-group row">
                <div class="col-md-10 offset-1">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @* @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" readonly } })*@
                    <input type="email" value="@CurrentSession.User.Email" name="Email" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-1">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-1">
                    @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-1">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-save mr-2"></i>Değiştir</button>
                    <a href="/User/Index" class="btn btn-danger"><i class="fa fa-angle-double-left mr-2"></i>İptal</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

