@model MvcPersonalProject.Entity.About

@{
    ViewBag.Title = "Güncelleme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="display-4">
            @ViewBag.Title
            <hr />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "About", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(false)
                @Html.HiddenFor(model => model.Id)

                <div class="form-group row">
                    <div class="col-md-10 offset-1">
                        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
                        <textarea name="Text" class="ckeditor form-control">@Model.Text</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 offset-1">
                        <img src="~/Image/user/@Model.Image" class="img-responsive img-rounded mb-2" width="128" height="128" alt="" />
                        @Html.HiddenFor(model => model.Image)
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="Image" id="ProfileImage" aria-describedby="ProfileImageAddon" accept=".png,.jpg,.jpeg">
                            <label class="custom-file-label" for="ProfileImage">Dosya Seçiniz</label>
                        </div>
                        <i class="fa fa-info-circle mr-2"></i>
                        <small><i>Lütfen .jpg, .png ya da .jpeg formatı kullanın</i></small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 offset-1">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i>Kaydet</button>
                        <a href="/About/Index" class="btn btn-danger"><i class="fa fa-angle-double-left"></i>İptal</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

