@using MvcPersonalProject.BLL
@using System.Data.Entity;
@{
    ViewBag.Title = "Anasayfa";
    AboutManager aboutManager = new AboutManager();
    ExperienceManager excManager = new ExperienceManager();
    ProjectDoneManager projectDoneManager = new ProjectDoneManager();
    var result = projectDoneManager.ListQueryable().Include("Services").OrderByDescending(x => x.CreatedOn).ToList();
    ServiceManager serviceManager = new ServiceManager();
    ContactManager contactManager = new ContactManager();
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        @foreach (var item in aboutManager.List())
        {
            <div class="section-title">
                <h2>Hakkımda</h2>

                <p>
                    @Html.Raw(item.Text)
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="~/Image/user/@item.Image" class="img-fluid" alt="" width="400" height="400" />
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Bilgisayar Mühendisi(2010 - 2015)</h3>
                    <p class="font-italic">
                        Kendimi geliştirmeyi ve sürekli birşeyler araştırıp öğrenmeyi çok seven biriyim. Elimden geldiğince yazılım alanında farklı projeler üretip kendimi geliştirmeye çalışıyorum.
                    </p>
                    <div class="row">
                        <div class="col-lg-7">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Doğum Günü:</strong> 20-05-1990</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Web Sitesi:</strong> http://www.welatbaran.somee.com</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Telefon:</strong> 0539 371 1268</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Şehir:</strong> Diyarbakır, Türkiye</li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Yaş:</strong> 30</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Diplama:</strong> Lisans</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> baranvelat021@gmail.com</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Serbest Çalışan:</strong> Müsait</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Özgeçmiş</h2>
            @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Özet</h3>
                <div class="resume-item pb-0">
                    <h4>Welat BARAN</h4>
                    <p>
                        <em>
                            Bilim ve teknolojiyle ilgilenmeyi çok severim. Sektörde çeşitli kurumlarda İş Zekası Uzman Yrd., Bilgi İşlem Sorumlusu ve Yazılımcı olarak görev yaptım ve hala yapmaktayım.
                            Hayatı zevkli yaşamayı sever, sürekli öğrenmeyi ve öğrendiklerimi paylaşmayı hayatıma anlam katan özelliklerim olarak görürüm.
                            Çeşitli kanallardan da beni takip edebilir ve bana ulaşabilirsiniz.
                        </em>
                    </p>
                    <ul>
                        <li>Diyarbakır</li>
                        <li>(539) 371-1268</li>
                        <li>baranvelat021@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Eğitim</h3>
                <div class="resume-item">
                    <h4>Mühendislik Fakültesi &amp; Bilgisayar Mühendisi</h4>
                    <h5>2010 - 2015</h5>
                    <p><em>Selçuk Üniversitesi Mühendislik Fakültesi, Konya</em></p>
                    <p>Selçuk Üniversitesi Bilgisayar Mühendisliği bölümünden 2015 yılında mezun oldum.</p>
                </div>
                <div class="resume-item">
                    <h4>Melik Ahmet Lisesi &amp; Fen Bilimleri</h4>
                    <h5>2006 - 2009</h5>
                    <p><em>Melik Ahmet Lisesi, Diyarbakır</em></p>
                    <p>Diyarbakır da bulunan Melik Ahmet Lisesi okulunda lise eğitimimi iyi bir dereceyle bitirip 2009 yılında mezun oldum.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Profesyonel Deneyimler</h3>
                @foreach (var item in excManager.ListQueryable().OrderByDescending(x => x.CreatedOn).ToList())
                {
                    string ap = null;
                    if (item.IsActive)
                    {
                        ap = "Aktif";
                    }
                    else
                    {
                        ap = "Pasif";
                    }
                    <div class="resume-item">
                        <h4>@item.Institution - @item.Department</h4>
                        <h5>@item.Time - @ap</h5>
                        <p><em>@item.Institution - @item.City</em></p>
                        <ul>
                            <li>
                                @Html.Raw(item.Text)
                            </li>
                        </ul>
                    </div>
                }

                @*<div class="resume-item">
                        <h4>İş Zekası Uzman Yardımcısı</h4>
                        <h5>2017 (2 ay)</h5>
                        <p><em>Dicle Elektrik A.Ş, Diyarbakır,Türkiye</em></p>
                        <ul>
                            <li>ş Zekası Biriminde İş Zekası Uzman Yrd. olarak çalıştım. Bu süreç içerisinde İş Zekası geliştirme araçlarını
                            kullanarak Oracle Database' nde Sql sorgu cümlecikleriyle veri analizleri yapıp birimlerinin ihtiyaçlarına göre raporlamalar ürettik.</li>
                        </ul>
                    </div>*@
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Yapılan Projeler</h2>
            <p>Yazılım Teknolojisi alanında geliştirilen tüm projeler. </p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            @foreach (var item in result)
            {
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <img src="~/Image/projectsdone/@item.Image1" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Image/projectsdone/@item.Image1" data-gall="portfolioGallery" class="venobox" title="@item.ProjectName"><i class="bx bx-plus"></i></a>
                            <a href="/Home/ProjectDetail" title="Detay"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Hizmetler</h2>
            <p>Yazılım alanında geliştirilen projeler, gelişen teknoloji dünyasında ihtitaçlar doğruştusunda bazı hizmet alanlarını gerektirmektedir.</p>
        </div>

        <div class="row">
            @foreach (var item in serviceManager.List())
            {
                <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">@item.Title</a></h4>
                    <p class="description">@Html.Raw(item.Text)</p>
                </div>
            }

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>İletişim</h2>
        </div>

        <div class="row" data-aos="fade-in">

            @foreach (var item in contactManager.List())
            {
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Konum:</h4>
                            <p>@item.Location</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>@item.Email</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefon:</h4>
                            <p>@item.Phone </p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>
            }

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Adı Soyadı</label>
                            <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Email Adresi</label>
                            <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Konu</label>
                        <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Mesaj</label>
                        <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Mesajını başarıyla gönderildi. Teşekkürler!</div>
                    </div>
                    <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
